.App {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  place-items: center;
  }
  
  .container {
    width: 50%;
    height: 66dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    border-radius: 2rem;
    background-color: white;
}