@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes icon-appear {
    from {
        display: none;
        margin-left: 1rem;
        transition: 300ms linear;
    }
    to {
        display: flex;
        margin-left: 0px;
    }
}

.my-icon {
    display: flex;
    position: relative;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation-name: icon-appear;
    animation-duration: 200ms;
}

.my-correct {
    background-color: #16a34a;
}

.my-wrong {
    background-color: #dc2626;
}
